{:deps
 {vvvvalvalval/scope-capture   {:mvn/version "0.3.3-s1"}
  hashp/hashp                  {:mvn/version "0.2.1"}
  lambdaisland/deep-diff2      {:mvn/version "2.0.108"}
  com.gfredericks/dot-slash-2  {:mvn/version "0.1.5"}
  com.gfredericks/repl-utils   {:mvn/version "0.2.22"}
  nrepl/nrepl  {:mvn/version "0.9.0"}
  cider/cider-nrepl {:mvn/version "0.28.0"}
  djblue/portal {:mvn/version "0.19.2"}}
 :paths ["src"]}
